<div class="col-10">
    <!-- Navbar Design -->
    <div class="navbar-design shadow">
        <div class="d-flex justify-content-between">
            <div class="col-6">
                <div class="input-group search-layout">
                    <input type="text" class="form-control" placeholder="Search..." aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-primary" type="button" id="button-addon2">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex justify-content-end profile-layout">
                    <p>Admin</p>
                    <i class="fa-solid fa-circle-user"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- End Navbar Design -->

    <div class="container">
        <!-- Content Row -->

        <h1 class="h3 mb-0 text-gray-800 mt-4">Kelola User</h1>
        
        <div class="row mt-4">

               
            <!-- Card Content Start -->
            <!-- Card 1 -->
            <?php foreach ($data['user'] as $user) : ?>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-border-right-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-l font-weight-bold text-uppercase mb-1 d-flex">
                                    <?=$user['nama']?>
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                <?=$user['jabatan']?>
                                </div>
                            </div>
                        </div>
                    </div>


                  <!--Button Edit-->
                        <div class="d-flex row no-gutters justify-content-end me-2">
                          <div class="col-auto">
                          <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="fas fa-fw fa-edit"></i>
                          </button>

                            
                            <!-- Modal Edit -->
                          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">  
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h1 class="modal-title fs-5" id="exampleModalLabel">Edit User</h1>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <div class="container">
                                    <form>
                                       <div class="form-group">
                                          <label for="FormControlInput">Nama</label>
                                          <input type="text" class="form-control" id="FormControlInput">
                                        </div>

                                          <div class="form-group">
                                            <label for="exampleFormControlInput1">Jabatan</label>
                                            <input type="email" class="form-control" id="exampleFormControlInput1">
                                          </div>
                                    </form>
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                                  <button type="button" class="btn btn-primary">Edit</button>
                                </div>
                              </div>
                            </div>
                          </div>
                                <!-- Button Tong Sampah -->
                                <a href="<?=BASEURL?>/dashboard/delete/<?=$user['id_manageadmin']?>" type="button" class="btn btn-danger">
                                    <i class="fas fa-fw fa-trash"></i>
                                </a>

                          </div>
                        </div>
                  </div>
            </div>
            <?php endforeach ?>

        </div>
        <!-- End of Main Content -->
    </div>
        
        <!-- Button Tambah Admin -->
        <div class="d-flex justify-content-end btn-add position-absolute bottom-0 end-0">
            <button type="button" class="btn btn-add btn-primary" data-bs-toggle="modal" data-bs-target="#Add">
                <i class="fa-solid fa-plus"></i>
            </button>
        </div>

         <!-- Modal Tambah -->
         <div class="modal fade" id="Add" tabindex="-1" aria-labelledby="ModalLabelTambah" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content" style="min-height: 270px !important;">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="ModalLabelTambah">Tambah Admin</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        <!-- <span aria-hidden="true">&times;</span> -->
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="<?=BASEURL?>/dashboard/addNewAdmin" method="POST" class="form-control" style="border:none !important;">
                                            <div class="row">
                                                    <p class="col-form-label col-3">Nama : </p>
                                                <div class="col-9">
                                                    <input type="text" name="nama" class="form-control">
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                    <p class="col-form-label col-3">Jabatan : </p>
                                                <div class="col-9">
                                                    <input type="text" name="jabatan" class="form-control">
                                                </div>
                                            </div>
                                        
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                            </div>
      




















                                    <!-- Button Tambah Admin -->
        <div class="d-flex justify-content-end btn-add position-absolute bottom-0 end-0">
            <button type="button" class="btn btn-add btn-primary" data-bs-toggle="modal" data-bs-target="#Add">
                <i class="fa-solid fa-plus"></i>
            </button>
        </div>

         <!-- Modal Tambah -->
         <div class="modal fade" id="Add" tabindex="-1" aria-labelledby="ModalLabelTambah" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content" style="min-height: 270px !important;">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="ModalLabelTambah">Tambah Admin</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        <!-- <span aria-hidden="true">&times;</span> -->
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="<?=BASEURL?>/dashboard/addNewAdmin" method="POST" class="form-control" style="border:none !important;">
                                            <div class="row">
                                                    <p class="col-form-label col-3">Nama : </p>
                                                <div class="col-9">
                                                    <input type="text" name="nama" class="form-control">
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                    <p class="col-form-label col-3">Jabatan : </p>
                                                <div class="col-9">
                                                    <input type="text" name="jabatan" class="form-control">
                                                </div>
                                            </div>
                                        
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                            </div>